.landing {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: min(600px, 75vw);
  height: 30vh;
}

.landing h2 {
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.landing p {
  font-size: 1.2rem;
}
