header {
  width: min(600px, 80vw);
  padding: 4rem 0 6rem 0;
}

.logo-link {
  text-decoration: none;
}

.logo {
  text-align: center;
  color: var(--primary);
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
  line-height: 1;
  text-shadow: 1px 1px var(--white);
  font-size: 4rem;
}
